<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles/home.css"/>
    <link rel="stylesheet" href="styles/colors.css"/>
    <link rel="stylesheet" href="3p/angular-csp.css"/>
</head>

<!--
    need to use the CSP directive for chrome apps.
    this also forces us to include the CSP.css file above.
 -->
<body ng-app="home" ng-csp>

<div class="container" ng-controller="HomeController as home">

    <!-- the section headers -->
    <div ng-repeat="section in home.data"
         class="section-header {{::section.cls}}"
         ng-class="{ active: home.visibleSection == $index }"
         ng-click="::home.sectionClicked($index)">

        <!-- the section contents (wrapper around all the boxes) -->
        <div class="section-contents">

            <!-- each box (group) gets its own div -->
            <div class="section-innards"
                 ng-show="home.visibleSection == $parent.$index"
                 ng-repeat="group in ::section.links">

                <!-- each entry in the group will only get one
                    of the elements below: [h4, a, div.multi, div.sep, div.text]
                -->
                <div ng-repeat="entry in ::group">

                    <h4 ng-if="::entry.subsection" ng-bind="::entry.subsection"></h4>

                    <a ng-if="::entry.url"
                       ng-href="{{::entry.url}}"
                       ng-class="::{hot: entry.hot}"
                       ng-bind="::entry.text">
                    </a>

                    <div ng-if="::entry.multi" class="multi">
                        <span ng-repeat="miniLink in ::entry.multi">
                            <a ng-href="{{::miniLink.url}}"
                               ng-class="::{hot: miniLink.hot}"
                               ng-bind="::miniLink.text"></a>
                            <span ng-if="::(!$last)">&bull;</span>
                        </span>
                    </div>

                    <div ng-if="::entry.sep || entry.separator" class="sep"></div>

                    <div ng-if="::entry.html" ng-bind-html="entry.html"></div>
                </div>
            </div>

        </div>

        <span ng-bind="::section.title"></span>

    </div>

</div>

<script src="3p/angular.min.js"></script>
<script src="3p/angular-animate.min.js"></script>
<script src="3p/angular-sanitize.min.js"></script>
<script src="app.min.js"></script>

<!-- load the sample data here -->
<script src="data-sample.js"></script>

</body>
</html>