
  .boxShadow(@col) {
    -webkit-box-shadow: 2px 2px 0 @col;
    -moz-box-shadow: 2px 2px 0 @col;
    box-shadow: 2px 2px 0 @col;
  }

  .bizness(@mainColor) {
    background: lighten(@mainColor, 12%);
    border-color: @mainColor;
    &:after { border-left-color: @mainColor }
    .boxShadow( darken(@mainColor,10%));

    .section-innards {
      background: desaturate( lighten(@mainColor,30%), 5%);
      border-color: lighten(@mainColor, 10%);
      .boxShadow( darken(@mainColor,10%));
    }

    h4, .sep {
      border-bottom-color: darken(@mainColor,10%)
    }
  }

.home-orange   { .bizness(#f57c00) }
.home-blue     { .bizness(#1976d2) }
.home-purple   { .bizness(#ab47bc) }
.home-pink     { .bizness(#d81b60) }
.home-bluegray { .bizness(#607d8b) }
.home-red      { .bizness(#d32f2f) }
.home-green    { .bizness(#558b2f) }

