@gutter: 20px;
@stagger: 0.08s;
@bg1: #b3c0c7;
@bg2: #cfd8dc;
@speedIn: 0.2s;
@speedOut: 0.3s;
@font: Roboto;

body {
  font-family: @font;
  margin: 0;
  padding: @gutter;

  background-color:@bg2;
  background-image: -moz-radial-gradient(6% 19%, ellipse cover, @bg1, @bg2 74%);
  background-image: -webkit-radial-gradient(6% 19%, ellipse cover, @bg1, @bg2 74%);
  background-image: -o-radial-gradient(6% 19%, ellipse cover, @bg1, @bg2 74%);
  background-image: -ms-radial-gradient(6% 19%, ellipse cover, @bg1, @bg2 74%);
  background-image: radial-gradient(6% 19%, ellipse cover, @bg1, @bg2 74%);
  background-repeat: no-repeat;
}
//-----------------
// main section groups
//
.section-header {
  border: 5px solid #ccc; // colors will be overridden
  background: #ccc;
  padding: @gutter/2;
  width: 10em;            // hard-coded width will do for now
  margin: 0 0 @gutter;
  position: relative;
  overflow: visible;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: rgba(0,0,0,0.6);

  // fade in the headers on page load
  &.ng-enter {
    opacity:0;
    -webkit-animation:0.8s header-entrance;
    animation:0.8s header-entrance;
  }
  // pointer triangle, normally hidden
  &:after {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 16px solid #ccc;
    content: '';
    position: absolute;
    left: 100%;  //margin-left: -3px;
    top: 50%;    margin-top: -19px;
    opacity: 0;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);

    -webkit-transition:opacity 0.3s, -webkit-transform 0.3s;
    transition:opacity 0.3s, transform 0.3s;
  }
  &.active:after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes header-entrance {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes header-entrance {
  0% { opacity:0; }
  100% { opacity:1; }
}


//-----------------

.section-contents {
  position: absolute;
  left: 100%;
  margin-left: @gutter;
  margin-top: -21px;
  width:auto;
  cursor: auto;

  * {
    white-space: nowrap;
  }
  h4 {
    font-size: 19px;
    border-bottom: 1px dotted;  // color set dynamically
    padding-bottom: 4px;
    margin: 0 0 10px;
  }
  a {
    display: block;
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    &:hover { text-decoration: underline }
    &.hot { font-weight: 500}
  }
  .multi {
    a {
      display: inline-block;
    }
    span span {
      vertical-align: middle;
      color: #000;
    }
  }
  .sep {
    margin:8px 0;
    height:0;
    border-bottom: 1px dotted;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    color: rgba(0,0,0,0.7);
  }
}

.section-innards {
  border: 5px solid #ccc;   // colors will be overridden
  background: #ccc;
  margin-bottom: @gutter;
  padding:@gutter * .666;
  color: rgba(0,0,0,0.6);

  -webkit-animation:@speedIn contents-entrance;
  animation:@speedIn contents-entrance;

  &.ng-hide {
    -webkit-animation:@speedOut contents-exit ease-in;
    animation:@speedOut contents-exit ease-in;
  }

  // blech... angular cruft.
  &.ng-hide-add, &.ng-hide-remove {
    display:block!important;
    transition:0s linear all;
  }
  &.ng-hide-remove-active {
    opacity: 0; // cleans up the initial flash when staggering in
  }
  &.ng-hide-remove-stagger {
    -webkit-animation-delay:@stagger;
    animation-delay:@stagger;
    // more cruft
    -webkit-animation-duration:0;
    animation-duration:0;
  }
}

@-webkit-keyframes contents-entrance {
  0% { opacity:0; -webkit-transform: rotate(-5deg) translateX(20px) translateY(40px) scale(0.7) }
  100% { opacity:1; }
}
@keyframes contents-entrance {
  0% { opacity:0; transform: rotate(-5deg) translateX(20px) translateY(40px) scale(0.7) }
  100% { opacity:1;  }
}
@-webkit-keyframes contents-exit {
  100% { opacity:0; -webkit-transform: translateX(-80px) translateY(20px) scale(0.7) }
  0% { opacity:1;  }
}
@keyframes contents-exit {
  100% { opacity:0; transform: translateX(-80px) translateY(20px) scale(0.7) }
  0% { opacity:1; }
}